<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>
      Edit Your Blog Post
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form *ngIf="selectedPost" (ngSubmit)="updatePost()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="selectedPost.postTitle" name="title" [value]="['title']" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-textarea [(ngModel)]="selectedPost.postContent" name="content" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-input [(ngModel)]="selectedPost.postCategory" name="category" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image URL</ion-label>
      <ion-input [(ngModel)]="selectedPost.postImg" name="img"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Snippet</ion-label>
      <ion-input [(ngModel)]="selectedPost.postSnippet" name="snippet" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Update Post</ion-button>
  </form>
</ion-content>


