<ion-header [translucent]="true" class="header">
  <ion-back-button>Go back</ion-back-button>
  <ion-toolbar>
    <ion-title>
     Create a New Post
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form (ngSubmit)="createNewPost()">
    <ion-item>
      <ion-label position="floating">Title</ion-label> <br>
      <ion-input [(ngModel)]="newPost.title" name="title" required placeholder="Your title here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Content</ion-label> <br>
      <ion-textarea [(ngModel)]="newPost.content" name="content" required placeholder="Your content here"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label> <br>
      <ion-input [(ngModel)]="newPost.category" name="category" required placeholder="Your category here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image URL</ion-label> <br>
      <ion-input [(ngModel)]="newPost.img" name="img" placeholder="Your image url here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Snippet</ion-label> <br>
      <ion-input [(ngModel)]="newPost.snippet" name="snippet" required placeholder="Your snippet here"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Create Post</ion-button>
  </form>
</ion-content>

