<ion-header [translucent]="false" >
  <ion-toolbar  >
    <ion-title > Our Healthy Hair Journey 
      <a style="float: right;" [routerLink]="['/tabs/admin-page']">Admin</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <ion-card class="card">
      <div class="card-outer">
        <h5 class="featured-post">featured post</h5>
        <ion-card-header class="card-header">
          <ion-card-title>
            <h3 class="title">
              The right way to grow your baby's edges
            </h3></ion-card-title
          >
        </ion-card-header>
        <ion-card-content class="card-content">
          <p class="title-paragraph">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            praesentium dolores doloribus quo velit culpa quaerat alias qui
            ullam ducimus at reprehenderit illo tempore voluptatibus amet
            exercitationem, molestiae ex ipsam.
          </p>
          <ion-button class="btn btn-more">Read More</ion-button>
        </ion-card-content>
      </div>

      <div class="img">
        <img src="../../assets/images/My princess @mijka_renee.jpeg" alt="" />
      </div>
    </ion-card>
  </main>
  <app-post></app-post>
  <div >
    <section class="about">About</section>
    <section class="s">Follow Us</section>
  </div>
 
</ion-content>
