<ion-header [translucent]="true" class="header">
  <ion-back-button>Go back</ion-back-button>
  <ion-toolbar>
    <ion-title>
      Our Healthy hair journey - Admin Page
      <a style="float: right" [routerLink]="['/tabs/index']">Home</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="post-card">
    <ion-card *ngFor="let item of postList | async" class="card">
      <div class="card-content">
        <ion-card-header class="card-header">
          <ion-card-title>
            <h3 class="title">
              {{ item.postTitle }}
            </h3></ion-card-title
          >
          <ion-card-subtitle>{{ item.postCategory }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ item.postSnippet }}</ion-card-content>
      </div>

      <div class="icons">
        <a [routerLink]="['/post-update/', item.id]" class="router">
          <ion-button>
            <ion-icon name="pencil"> </ion-icon
          ></ion-button>
        </a>
        <ion-button (click)="deletePost(item.id?? '', item.postTitle)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </div>
  <br />
  <br />

  <a [routerLink]="['/tabs/postings']" class="router">
    <ion-button class="new_post"> Create New Post </ion-button>
  </a>
</ion-content>
