<main>
  <div *ngIf="errorMessage" class="error-message">
{{ errorMessage }}
</div>
  <ion-toolbar>
    <div class="post-card" *ngIf="data">
      <h2>Recent Posts</h2>
      <ion-card *ngFor="let item of data">
        <div class="img">
          <img src="" alt="" />
        </div>
        <ion-card-header class="card-header">
          <ion-card-title>
            <h3 class="title">
             {{item.title}}
            </h3></ion-card-title
            >
            <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{item.snippet}}
          <img src={{item.img}} alt="">
        </ion-card-content>
        <a [routerLink]="['/post', item.id]"> <ion-button>Read full article</ion-button> </a>
      </ion-card> <br>
    </div>
    <ion-button> Browse All Post</ion-button>
  </ion-toolbar>
</main>
