<main>
  <ion-toolbar>
    <div class="post-card">
      <h2>Recent Posts</h2>
      <ion-card *ngFor="let item of postList | async">
        <div class="img">
          <img src="" alt="" />
        </div>
        <section class="card-wrapper">
          <div class="card-content">
            <ion-card-header class="card-header">
              <ion-card-title>
                <h3 class="title">
                 {{item.postTitle}}
                </h3></ion-card-title
                >
                <ion-card-subtitle>{{item.postCategory}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>{{item.postSnippet}}
              </ion-card-content>
          </div>
          <div class="card-img">
            <img src={{item.postImg}} alt="image">
          </div>
        </section> <br>
        <a [routerLink]="['/post', item.id]"> <ion-button>Read full article</ion-button> </a>
      </ion-card> <br> <br>
    </div>
    <ion-button> Browse All Post</ion-button>
  </ion-toolbar>
</main>
